<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>AngryNerds Examiner</title>
</head>

<body>	

<header>Level: <span th:text="${question.difficulty}"></span></header>

<p th:text="${question.content}"></p>
<pre th:text="${question.code}"/>

<form  method="post" th:action="@{/loadExamQuestion}" th:object="${answers}">
	<table>
		<tr th:each="answer : ${answers}">
			<td><input type="checkbox" th:text="${answer.content}" th:field="${testAnswerForm.testAnswers}" th:value="${answer.answerID}"/></td>
			<!--<label th:name="${#ids.prev('answer.anserID')}"></label>-->
	    </tr>
	</table>
	<button type="submit"   value="Submit">submit</button>
</form>

</body>
</html>
