<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>AngryNerds Examiner</title>
</head>
<body>
<article>
    <p>
    <h1 class="welcome">Welcome to the AngryNerds Examiner</h1>
</p>
</article>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div id="loginform">
<form id="loginForm" th:action="@{/login}" method="post">
    <h3 id="loginHeader">Login or use the register button to get to the registration page.</h3>
    <label> User Name : <input type="text" name="username"/> </label><br/>
    <label> Password: <input type="password" name="password"/> </label><br/>
<br/> 
	If you didn't sign up already, follow the link to the:
    <a th:href="@{/register}"> registration page.</a>
    <input class="clear" type="image" src="http://shipmyride.com/uploads/login-button.jpg" value="Sign In" width="58" height="58"/>


</form>
</div>
</body>
</html>